@model FormulárioTeste.Models.ViewModels.BrinquedoViewModel

<div>
    <label>Id do brinquedo</label>
    <input type="text" asp-for="@(Model.brinquedo.Id)" />
</div>
<div>
    <label>Industria do brinquedo</label>
    <input type="text" asp-for="@(Model.brinquedo.Industria)" />
</div>
<div>
    <label>Nome do brinquedo</label>
    <input type="text" asp-for="@(Model.brinquedo.Nome)" />
</div>
