@model FormulárioTeste.Models.ViewModels.LivroViewModel


<div>
    <label>Autor do Livro</label>
    <input type="text" asp-for="@(Model.Livro.Autor)" />
</div>
<div>
    <label>Id do Livro</label>
    <input type="text" asp-for="@(Model.Livro.Id)" />
</div>
<div>
    <label>Titulo do Livro</label>
    <input type="text" asp-for="@(Model.Livro.Titulo)" />
</div>
